/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------------------------------------------*/

/*Моя тестовая палитра цветов ver.2
Фон светлый: F2F2F2 (Concrete (?))
Фон темный: 222b37 (Ebony Clay)
Контент: eeac69 (Whiskey)
Контент фон: 257389 (Calypso)
Акцент: AB485E (Hippie Pink)
*/

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400&display=swap");

body {
  background-color: #222b37;
  color: #f2f2f2;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.warning__center-flex {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.warning {
  margin: 0 auto;
  background-color: #ab485e;
  max-width: 700px;
  padding: 25px;
  font-size: 50px;
  border-radius: 10px;

  text-align: center;
}
.warning__text {
  line-height: 1;
}
.warning__link {
  color: #179dc2;
}
.warning__link:hover {
  color: #22bfeb;
}
