/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------------------------------------------*/

/*Моя тестовая палитра цветов ver.2
Фон светлый: F2F2F2 (Concrete (?))
Фон темный: 222b37 (Ebony Clay)
Контент: eeac69 (Whiskey)
Контент фон: 257389 (Calypso) лучше подходит для ссылок
Акцент: AB485E (Hippie Pink)
*/

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400&display=swap");

a {
  display: inline-block;
}

body {
  background-color: #222b37;
  color: #f2f2f2;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.container {
  max-width: 1100px;
  padding: 0 15px;
  margin: 0px auto;
}
/* header styles */
.header {
  width: 100%;
  background-color: #257389;
  padding: 25px 0;
  margin-bottom: 50px;
  position: fixed;
  z-index: 11;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logobox {
}
.header-logobox__link {
  color: inherit;
  font-size: 32px;
  line-height: 32px;
}
.header-menu {
}
.header-menu__list {
}
.header-menu__item {
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 1px;
  display: inline-block;
}
.header-menu__item + .header-menu__item {
  padding-left: 25px;
}
.header-menu__link {
  color: inherit;
}
/* about styles */
.about {
  height: 100vh;
}
.about-text {
  padding-top: 50vh;
  font-size: 32px;
  line-height: 32px;
}

/* portfolio (content) styles */
.content {
  min-height: 100vh;
  background-color: #f2f2f2;
}
.content-pages__wrapper {
  border-radius: 5px;
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
.content__page-card {
  grid-column-end: span 3;

  background: url("..//img/webovio.jpg");
  /* background-color: #257389; */
  border-radius: 5px;
  padding: 10px 10px;
  transition: all 0.3s;
}
.content__page-card + .content__page-card {
  /* margin-top: 25px; */
}
.content__page-card:hover {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.page__link {
  display: inline-block;
  color: black;
  font-size: 22px;
  line-height: 24px;
  padding: 5px 5px;
  border-radius: 12px;
  background-color: #ab485e;
  margin-bottom: 15px;
}
.page__link:visited {
  color: black;
}
.page__description {
  margin-bottom: 15px;
}
/* footer styles */

.footer {
  background-color: #257389;
  padding: 25px 0;
  text-align: center;
}

/* contacts styles */
.contacts {
  height: 100vh;
}

.contacts__text {
  padding-top: 50vh;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
}
